<div class="col-xl-6 col-lg-8">
    <h1 id="titulo" class="titulo">
        <img src="https://goldspy.site/logo-mini-min.png" alt='logo' style="width: 20%;" /> 
        GoldSPY
        
    </h1> <br><br>
    <p>Supervisa todas las conversaciones que tienen tu pareja, hijos, amigos o empleados, 
    accede a su ubicación en tiempo real, fotos, videos, registro de llamadas y cualquier 
    tipo de información que maneje desde su teléfono inteligente
    </p>
</div>   