<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoldSpy</title>
	<meta content="GoldSpy es un servicio de espionaje avanzado, con expertos en cada una de las nuevas tecnologías son capaces de monitorear todos los dispositivos sea Android o iOS. Supervise los chats de WhatsApp, También espíe Facebook, Instagram, y Gmail." name=description>
    <link rel="stylesheet" href="/css/semantic.min.css" />
    <link rel="stylesheet" href="/css/snackbar.min.css" />
    <link rel="stylesheet" href="/css/custom.css" />
	<link href=favicon.png rel=icon>
	<link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <script async src="https://stats.nukedfans.com/script.js" data-website-id="dcdd8e79-72e9-434c-aff0-b700a87aae29"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/semantic.min.js"></script>
    <script src="/js/snackbar.min.js"></script>
    <script src="/js/main.js"></script>
</head>